<!DOCTYPE html>
<html 🆖>

<head>
    <meta name="theme-color" content="#F4A100" />

    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#F4A100">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#F4A100">
    <meta charset="utf-8">

    <!-- base url -->
    <base href="/">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="assets/material-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/material.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <!-- FontAwesome for md-icon demo. -->
    <link rel="stylesheet" href="assets/font-awesome.min.css">
    <script type="text/javascript" src="vendor/clappr/clappr.js"></script>
    <script type="text/javascript" src="vendor/clappr/clappr-stats.min.js"></script>

    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>

    <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

    <% if (webpackConfig.htmlElements.headTags) { %>
        <!-- Configured Head Tags  -->
        <%= webpackConfig.htmlElements.headTags %>
            <% } %>


</head>

<body style="overflow:hidden;">

    <app>
        Loading...
    </app>
    <dialog-outlet></dialog-outlet>
    <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
        <!-- Webpack Dev Server reload -->
        <script src="/webpack-dev-server.js"></script>
        <% } %>
</body>

</html>